*,
*::before,
*::after {outline:none; box-sizing:border-box}

html {min-width:480px; height:100%}

body {min-width:480px; height:100%; margin:0; padding:0; font:15px/20px "PT Sans", sans-serif; color:#111; background:#fff; -webkit-text-size-adjust:100%}

a {outline:none; color:#489eca; text-decoration:none; transition:all 0.2s}
a:hover {color:#2d7fa9}
a:active {color:#1a6489}

img {border:none; max-width:100%}

strong {font-weight:bold}

h1 {font-weight:bold; font-size:30px; line-height:30px; margin:39px 0; padding:0}
h2 {font-weight:bold; font-size:24px; line-height:29px; margin:24px 0 27px 0; padding:0}
h3 {font-weight:bold; font-size:20px; line-height:24px; margin:20px 0; padding:0}
h4 {font-weight:bold; font-size:18px; line-height:26px; margin:20px 0; padding:0}
p {margin:20px 0; padding:0}
ul {margin:20px 0; padding:0; list-style:none}
li {margin:10px 0; padding:0 0 0 14px; position:relative}
ul li::before {content:"•"; color:#56c6b4; position:absolute; left:0; top:0}
li ul {margin:10px 0}
blockquote {margin:35px 0 33px 0; padding:20px 30px 24px 30px; background:#ffe9ad; font-style:italic; font-size:18px; line-height:24px; font-weight:normal}
ol {margin:20px 0; padding:0; list-style:none; counter-reset:point}
ol > li {padding:0 0 0 17px}
ol > li::before {content:counter(point)'.'; counter-increment:point 1; position:absolute; left:0; top:0}
ol > li:nth-child(n+10) {padding:0 0 0 22px}
ol li ol {margin:10px 0; counter-reset:subpoint}
ol > li > ol > li {padding:0 0 0 29px}
ol > li > ol > li::before {content:counter(point)'.'counter(subpoint); counter-increment:subpoint 1}
hr {margin:25px 0 23px 0; padding:0; border:none; height:1px; background:#e3e3e3}

@media screen and (max-width:799px) {
    h1 {margin-top:29px; margin-bottom:36px}
    h1+h3 {margin-top:-13px}
    li ul {margin-left:14px}
    li ol {margin-left:14px}
}

.wrapper table {margin:20px 0 33px 0; width:100%; border-collapse:collapse}
.wrapper th {font-weight:normal; font-size:13px; line-height:20px; color:#666666; vertical-align:top; padding:0 0 14px 30px; border-bottom:2px solid #999; text-align:left}
.wrapper th:first-child {padding-left:0}
.wrapper td {vertical-align:top; border-bottom:1px solid #dedede; padding:9px 0 10px 30px}
.wrapper tbody:first-child tr:first-child td {border-top:1px solid #dedede}
.wrapper td:first-child {padding-left:0}

.table {margin:20px 0 33px 0; position:relative; overflow:auto}
.wrapper .table table {margin:0}

.cols {margin:20px -10px}
.cols::after {content:""; display:block; clear:both}
.col-half {float:left; width:50%; padding:0 10px}

.btn {display:inline-block; vertical-align:top; border-radius:4px; background:#489eca; margin:0; padding:0 20px; outline:none; overflow:visible; border:none; text-decoration:none; height:40px; box-sizing:border-box; color:#fff; text-align:center; font:15px/40px "PT Sans", sans-serif; letter-spacing:0; -webkit-appearance:none; cursor:pointer; transition:all 0.2s}
.btn:hover {color:#fff; background:#2d7fa9}
.btn:active {color:#fff; background:#1a6489}

.btn-2 {display:inline-block; vertical-align:top; border-radius:4px; background:#fff; margin:0; padding:0 20px; outline:none; overflow:visible; border:1px solid #489eca; text-decoration:none; height:40px; box-sizing:border-box; color:#489eca; text-align:center; font:15px/36px "PT Sans", sans-serif; letter-spacing:0; -webkit-appearance:none; cursor:pointer; transition:all 0.2s}
.btn-2:hover {background:#489eca; border-color:#489eca; color:#fff}
.btn-2:active {background:#1a6489; border-color:#1a6489; color:#fff}

.btn-reset {display:inline-block; vertical-align:top; border-radius:4px; background:#fff; margin:0; padding:0 20px; outline:none; overflow:visible; border:1px solid #ececec; text-decoration:none; height:40px; box-sizing:border-box; color:#111; text-align:center; font:15px/36px "PT Sans", sans-serif; letter-spacing:0; -webkit-appearance:none; cursor:pointer; transition:all 0.2s}
.btn-reset:hover {color:#489eca; border-color:#489eca}
.btn-reset:active {color:#1a6489; border-color:#1a6489}

form {margin:20px 0; padding:0}

.form-input {position:relative; margin:13px 0}
.form-input .form-input-label {position:absolute; left:0; top:10px; transition:all 0.2s; white-space:nowrap}
.form-input.focus .form-input-label {top:-8px; font-size:11px; color:#999; z-index:1; background:#fff; width:90%}
.form-input-label em {font-style:normal; color:#ff5353}
.form-input-label span {display:none; color:#ff7777}
.form-input.focus .form-input-label span {display:inline}

.form-input input,
.form-input textarea {position:relative; border:none; border-bottom:2px solid #ececec; font:15px/20px "PT Sans", sans-serif; color:#111; vertical-align:top; margin:0; padding:15px 0 5px 0; width:100%; height:42px; box-sizing:border-box; outline:none; border-radius:0; background:url(../images/blank.gif); -webkit-appearance:none}
.form-input textarea {height:auto; resize:none; overflow:auto; border:1px solid #d8d8d8; border-radius:4px; padding-left:20px; padding-right:20px}
.form-input input.error,
.form-input textarea.error {border-color:#ffc2c2}
.form-input label.error {display:none !important}
.form-input input::-webkit-input-placeholder {opacity:1; color:#999}
.form-input input::-moz-placeholder {opacity:1; color:#999}
.form-input input:-ms-input-placeholder {opacity:1; color:#999}
.form-input textarea::-webkit-input-placeholder {opacity:1; color:#999}
.form-input textarea::-moz-placeholder {opacity:1; color:#999}
.form-input textarea:-ms-input-placeholder {opacity:1; color:#999}

.form-select {margin:13px 0}
.form-select select {position:relative; border:none; border-bottom:2px solid #ececec; font:15px/20px "PT Sans", sans-serif; color:#111; vertical-align:top; margin:0; padding:10px 0; width:100%; height:42px; box-sizing:border-box; outline:none; border-radius:0; background:url(../images/blank.gif); -webkit-appearance:none}
.form-select label.error {display:none !important}

.form-checkbox {margin:20px 0}
.cols .form-checkbox {margin-bottom:0}
.cols .form-checkbox:first-child {margin-top:0}
.form-checkbox::after {content:""; display:block; clear:both}
.form-checkbox label {float:left; margin:0; cursor:pointer}
.form-checkbox input {display:none}
.form-checkbox span {display:block; position:relative; padding:0 0 0 26px; color:#666}
.form-checkbox span::before {content:""; display:block; position:absolute; left:0; top:1px; width:18px; height:18px; border:2px solid #ececec; border-radius:4px}
.form-checkbox label input:checked+span::after,
.form-checkbox label input:checked+label+span::after {content:""; display:block; position:absolute; left:5px; top:6px; width:8px; height:8px; background:#489eca; border-radius:1px}
.form-checkbox label input.error+span::before,
.form-checkbox label input.error+label+span::before {border-color:#ffc2c2}
.form-checkbox label:hover span,
.form-checkbox label input:checked+span,
.form-checkbox label input:checked+label+span {color:#111}
.form-checkbox label.error {display:none !important}

@media screen and (max-width:799px) {
    .cols .form-checkbox {margin-bottom:20px}
    .cols .form-checkbox:first-child {margin-top:20px}
}

.form-radio {margin:20px 0}
.cols .form-radio {margin-bottom:0}
.cols .form-radio:first-child {margin-top:0}
.form-radio::after {content:""; display:block; clear:both}
.form-radio label {float:left; margin:0; cursor:pointer}
.form-radio input {display:none}
.form-radio span {display:block; position:relative; padding:0 0 0 26px; color:#666}
.form-radio span::before {content:""; display:block; position:absolute; left:0; top:1px; width:18px; height:18px; border:2px solid #ececec; border-radius:50%}
.form-radio label input:checked+span::after,
.form-radio label input:checked+label+span::after {content:""; display:block; position:absolute; left:5px; top:6px; width:8px; height:8px; background:#489eca; border-radius:50%}
.form-radio label:hover span,
.form-radio label input:checked+span,
.form-radio label input:checked+label+span {color:#111}
.form-radio label.error {display:none !important}

@media screen and (max-width:799px) {
    .cols .form-radio {margin-bottom:20px}
    .cols .form-radio:first-child {margin-top:20px}
}

.form-file {margin:20px 0}
.form-file::after {content:""; display:block; clear:both}
.form-file-input {float:left; width:143px; height:20px; text-align:right; position:relative; overflow:hidden; background:url(../images/file-input.svg) no-repeat left center; color:#489eca}
.form-file-input:hover {color:#2d7fa9}
.form-file-input input {height:200px; position:absolute; top:0; right:0; opacity:0; cursor:pointer; font-size:200px; background:url(../images/blank.gif); -webkit-appearance:none}
.form-file-input label.error {display:none !important}
.form-file-name {margin:0 0 0 153px; color:#999}

.form-ctrl {margin:40px 0 0 0}
.form-ctrl::after {content:""; display:block; clear:both}
.form-submit {float:left; width:115px}
.form-reset {float:left; width:108px; margin:0 0 0 20px}

@media screen and (max-width:799px) {
    .form-submit {float:none; width:auto}
    .form-reset {float:none; width:auto; margin:20px 0 0 0}
}

.form-success {position:relative; text-align:center; background:#d7f5b8; padding:16px 30px 15px 30px; margin:20px 0; box-shadow:0 1px 0 0 #a8ca85; border-radius:4px}
.form-success-title {color:#2a4a09; text-transform:uppercase; font-weight:bold}
.form-success-text {color:#666; margin:-2px 0 0 0}

.form-error {position:relative; text-align:center; background:#ffd5d5; padding:16px 30px 15px 30px; margin:20px 0; box-shadow:0 1px 0 0 #e6a3a3; border-radius:4px}
.form-error-title {color:#ae3939; text-transform:uppercase; font-weight:bold}
.form-error-text {color:#666; margin:-2px 0 0 0}

.pager {margin:40px 0 0 0}
.pager::after {content:""; display:block; clear:both}
.pager-list {float:left}
.pager-list a {float:left; margin:0 10px 0 0; border:1px solid #ececec; color:#489eca; line-height:38px; text-align:center; width:40px; height:40px; border-radius:4px}
.pager-list a:hover {color:#489eca; border-color:#489eca}
.pager-list a:active,
.pager-list a.active {color:#111; border-color:#ffe9ad; background:#ffe9ad}
.pager-list span {float:left; line-height:40px; margin:0 10px 0 0}
.pager-other {float:left; margin:0 10px}
.pager-other:first-child {margin:0 20px 0 0}
.pager-other .btn {width:auto; float:left; padding:0 20px}

.container {max-width:1400px; padding:0 79px; margin:0 auto}
.container::after {content:""; display:block; clear:both}

@media screen and (max-width:1399px) {
    .container {padding:0 15px}
}

.wrapper {min-width:480px; width:100%; min-height:100%; position:relative; overflow:hidden}
.wrapper-inner {padding:0 0 196px 0}

@media screen and (max-width:799px) {
    .wrapper-inner {padding:0 0 256px 0}
}

header {position:relative; z-index:1; padding:0 0 25px 0; box-shadow:0 5px 5px 0 rgba(159, 159, 159, 0.1)}

@media screen and (max-width:799px) {
    header {padding:0 0 16px 0}
}

.header-top {height:3px; border-radius:0 0 3px 3px; background:#a4d78b}

.header-left {float:left; padding:28px 0 0 0}

@media screen and (max-width:799px) {
    .header-left {padding:17px 0 0 0}
}

.logo {position:relative; width:128px; height:41px; background:url(../images/logo.svg) no-repeat; background-size:100%}
.logo a {display:block; position:absolute; left:0; top:0; right:0; bottom:0}

.header-logout-link {float:right; margin:27px 0 0 28px; line-height:40px; color:#666}

@media screen and (max-width:799px) {
    .header-logout-link {display:none}
}

.header-cabinet-link {float:right; margin:27px 0 0 28px; line-height:40px}
.header-cabinet-link svg {display:inline-block; vertical-align:middle; margin:-2px 6px 0 0; width:17px}
.header-cabinet-link svg path,
.header-cabinet-link svg polygon {fill:#489eca; transition:all 0.2s}
.header-cabinet-link:hover svg path,
.header-cabinet-link:hover svg polygon {fill:#2d7fa9}
.header-cabinet-link:active svg path,
.header-cabinet-link:active svg polygon {fill:#1a6489}

@media screen and (max-width:799px) {
    .header-cabinet-link {display:none}
}

.header-about-link {float:right; margin:27px 0 0 0; line-height:40px}

@media screen and (max-width:799px) {
    .header-about-link {display:none}
}

.header-mobile-menu-link {display:none}

@media screen and (max-width:799px) {
    .header-mobile-menu-link {display:block; float:right; width:33px; height:18px; border-top:2px solid #489eca; border-bottom:2px solid #489eca; position:relative; margin:28px 0 0 0; transition:border 0.2s}
    .header-mobile-menu-link::after,
    .header-mobile-menu-link::before {content:""; display:block; position:absolute; left:0; top:6px; right:0; height:2px; background:#489eca; transition:all 0.2s}
    .header-mobile-menu-open header {z-index:100}
    .header-mobile-menu-open .header-mobile-menu-link {z-index:199; border-color:transparent; position:fixed; margin:31px 15px 0 0; right:0; top:0}
    .header-mobile-menu-open .header-mobile-menu-link::after {transform:rotate(-45deg); left:3px; right:4px}
    .header-mobile-menu-open .header-mobile-menu-link::before {transform:rotate(45deg); left:3px; right:4px}
}

.header-mobile-menu {display:none}

@media screen and (max-width:799px) {
    .header-mobile-menu-open body {overflow:hidden}
    .header-mobile-menu-open .header-mobile-menu {display:block; position:fixed; z-index:198; left:0; top:0; right:0; bottom:0; overflow:auto; background:#fff}
    .header-mobile-menu-header {box-shadow:0 5px 5px 0 rgba(159, 159, 159, 0.1); height:77px}
    .header-mobile-menu-header .container::before {content:""; display:block; height:3px; border-radius:0 0 3px 3px; background:#a4d78b}
    .header-mobile-menu-profile {margin:20px 0 0 0; padding:0 0 0 26px; position:relative; font-weight:bold; font-size:24px; line-height:29px}
    .header-mobile-menu-profile svg {width:18px; position:absolute; left:0; top:50%; transform:translateY(-50%)}
    .header-mobile-menu-profile svg path {fill:#489eca}
    .header-mobile-menu-header .logo {float:none; margin:17px 0 0 0}
    .header-mobile-menu-content {position:absolute; left:0; top:77px; bottom:0; right:0; overflow:auto}
    .header-mobile-menu-content ul {margin:0; padding:0; list-style:none; font-size:20px; line-height:59px}
    .header-mobile-menu-content ul li {margin:0; padding:0; border-top:1px solid #e3e3e3; position:relative}
    .header-mobile-menu-content ul li:first-child {border-top:none}
    .header-mobile-menu-content ul li::before {display:none}
    .header-mobile-menu-content ul li.active::after {content:""; display:block; width:8px; background:#ffda76; position:absolute; left:0; top:8px; bottom:8px; border-radius:0 3px 3px 0}
    .header-mobile-menu-content ul li a {display:block; padding:0 0 0 41px; position:relative; color:#111; text-decoration:none}
    .header-mobile-menu-content ul li a.desktop-menu-logout {height:73px; line-height:73px; background:#f0f0f0; color:#fb6060; margin:-1px 0 0 0}
    .header-mobile-menu-content ul li.active {font-weight:bold}
    .header-mobile-menu-content .desktop-menu-icon {right:15px; top:18px}
    .header-mobile-menu-content .desktop-menu-count {right:15px; top:15px; height:30px; padding:0; width:45px; text-align:center; font-size:15px; line-height:30px; border-radius:15px}
}

.content-header {background:#f6f6f6; font-size:30px; line-height:36px; padding:34px 0}
.content-header .text {margin:0}

.text {max-width:924px; margin:27px 0 0 0}

.gallery {font-size:0; line-height:0; letter-spacing:-1px; margin:0 -15px}
.gallery-item {display:inline-block; vertical-align:top; width:25%; padding:15px}
.gallery-item a {display:block}
.gallery-item img {display:block; width:100%}

@media screen and (max-width:799px) {
    .gallery {margin:0 -10px}
    .gallery-item {width:50%; padding:10px}
}

.docs {margin:45px 0}
.docs-item {margin:20px 0; padding:0 0 0 32px; position:relative; color:#666}
.docs-item-icon {position:absolute; left:0; top:0; width:22px}
.docs-item-icon img {width:100%}

.main {background:#111 url(../images/main-bg.jpg) center; margin:0 0 -80px 0; height:calc(100vh - 213px); min-height:468px; position:relative}
.main-content {position:absolute; left:0; bottom:100px; right:0; text-align:center}
.main-title {font-size:46px; line-height:55px; color:#fff; font-weight:bold; padding:0 0 89px 0; font-family:"Open Sans", sans-serif}
.main-btns {width:890px; margin:0 auto}
.main-btns .btn {float:right; width:430px; margin:0 30px 0 0; height:80px; line-height:80px; font-weight:bold; font-size:25px; text-transform:uppercase; border-radius:8px; box-shadow:8px 0 20px rgba(16, 73, 197, 0.25)}
.main-btns .btn:first-child {margin:0}

@media screen and (max-width:1399px) {
    .main {min-height:547px; background-size:cover}
    .main-content {bottom:60px}
    .main-title {font-size:32px; line-height:38px; color:#fff; padding:0 0 52px 0; font-family:"PT Sans", sans-serif; font-weight:normal}
    .main-btns {width:770px}
    .main-btns .btn {font-size:24px; line-height:68px; height:69px; width:370px}
}

@media screen and (max-width:799px) {
    .main {height:calc(100vh - 275px)}
    .main-btns {width:370px}
    .main-btns .btn {font-size:24px; line-height:68px; height:69px; width:370px; margin:20px 0 0 0}
    .main-btns .btn:first-child {margin:0}
}

.auth-header {text-align:center}
.auth {width:394px; margin:65px auto 0 auto; border:1px solid #ececec; border-radius:4px; padding:10px 30px 40px 30px; box-shadow:0 1px 0 0 #e3e3e3}
.auth form {margin:0}
.auth .form-checkbox {font-size:13px}
.auth .form-checkbox span {padding:0 0 0 20px}
.auth .form-checkbox span::before {top:3px; width:13px; height:13px; border:2px solid #d8d8d8}
.auth .form-checkbox label input:checked+span::after,
.auth .form-checkbox label input:checked+label+span::after {left:3px; top:6px; width:7px; height:7px}
.auth .form-checkbox label input.error+span::before,
.auth .form-checkbox label input.error+label+span::before {border-color:#ffc2c2}
.auth .form-ctrl {margin:26px 0 0 0}
.auth .form-submit {float:right; width:auto}
.auth .form-submit .btn {width:auto; padding:0 26px}
.auth-forgot {float:left; line-height:40px}

@media screen and (max-width:799px) {
    .auth-header {text-align:left}
    .auth {width:auto; margin-top:36px}
}

.auth-contacts {width:394px; margin:40px auto 0 auto; border:1px solid #ececec; border-radius:4px; padding:24px 30px 25px 30px; box-shadow:0 1px 0 0 #e3e3e3}
.auth-contacts-phone {font-size:24px; line-height:29px}
.auth-contacts-phone a {color:#111}
.auth-contacts-schedule {color:#666; padding:2px 0 0 0}
.auth-contacts-text {padding:18px 0 0 0}
.auth-contacts-email {padding:4px 0 0 0}

@media screen and (max-width:799px) {
    .auth-contacts {width:auto}
    .auth-contacts::after {content:""; display:block; clear:both}
    .auth-contacts-left {float:left; width:50%}
    .auth-contacts-right {float:left; width:50%; padding:5px 0 0 0}
    .auth-contacts-text {padding:2px 0 0 0}
}

.help-mobile {display:none}

@media screen and (max-width:799px) {
    .help-mobile {display:block}
}

.forgot-text {color:#666; padding:23px 0 0 0; margin:0 0 -5px 0}

.forgot-attention {color:#666; padding:2px 0 17px 0}
.forgot-attention p {margin:0; padding:20px 0 0 0}
.forgot-attention strong {color:#111}

.queue {margin:40px -15px 0 -15px; position:relative}
.queue-inner {position:relative; width:100%; overflow:hidden; font-size:0; line-height:0; letter-spacing:-1px; padding:0 20% 0 0; min-height:24px}
.queue-inner.loading::before {content:""; z-index:2; display:block; position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(255, 255, 255, 0.9) url(../images/loading.gif) no-repeat center}
.queue-list-item {display:inline-block; vertical-align:top; width:25%; padding:0 15px}
.queue-list-item-header {background:#f6f6f6; border-radius:4px; position:relative; padding:14px 20px 16px 20px; font-size:15px; line-height:18px; letter-spacing:0}
.queue-list-item-header::before {content:""; display:block; position:absolute; left:0; top:13px; bottom:13px; width:4px; background:#a4d78b; border-radius:0 4px 4px 0}
.queue-list-item-header-count {display:none}
.queue-list-item.empty .queue-list-item-header::before {background:#d0d0d0}
.queue-list-item-header-day {font-size:13px; color:#666; padding:1px 0 0 0}
.queue-list-item-times {margin:10px 0 0 0; font-size:15px; line-height:38px; letter-spacing:0; text-align:center}
.queue-list-item-times a {display:block; border:1px solid #ccc; margin:2px 0 0 0; border-radius:4px; height:40px; text-decoration:none; color:#111}
.queue-list-item-times a:hover {color:#111; background:#dbedf9; border-color:#dbedf9}
.queue-list-item-times span {display:block; border:1px solid #ccc; margin:2px 0 0 0; border-radius:4px; height:40px; color:#cdcdcd}
.queue-list-item-times div {background:#f6f6f6; font-size:13px; line-height:20px; letter-spacing:0; text-align:center; padding:30px 20px; color:#666}

@media screen and (min-width:800px) {
    .queue-list-item-times {display:block !important}
}

@media screen and (max-width:799px) {
    .queue {margin:40px 0 0 0}
    .queue-inner {padding:0}
    .queue-list-item {display:block; width:auto; padding:0; margin:10px 0 0 0}
    .queue-list-item-times {display:none; margin:0}
    .queue-list-item-header {margin:0 0 10px 0}
    .queue-list-item-header::after {content:""; display:block; width:15px; height:9px; background:url(../images/queue-list-item-header.svg) no-repeat; background-size:100%; position:absolute; right:20px; top:50%; transform:translateY(-50%); transition:all 0.2s}
    .queue-list-item-header-count {display:block; position:absolute; left:181px; top:50%; transform:translateY(-50%)}
    .queue-list-item.open .queue-list-item-header::after {transform:translateY(-50%) rotate(-180deg)}
    .queue-list-item-times a:first-child {margin-top:0}
    .queue-list-item-times span:first-child {margin-top:0}
}

.queue-date {position:absolute; right:0; top:0; bottom:0; width:20%; padding:0 15px; z-index:1}
.queue-date-inner {background:#f6f6f6; border-radius:4px; min-height:100%}
.queue-date-select {padding:30px 0 0 0; width:142px; position:relative; margin:0 auto}
.queue-date-select .btn {width:100%; padding:0}
.queue-date-calendar {display:none; position:absolute; right:0; top:100%; z-index:99}
.queue-date-select.open .queue-date-calendar {display:block}
.queue-date-current {text-align:center; font-size:13px; line-height:30px; color:#666; letter-spacing:0; padding:10px 0 0 0}
.queue-date-hint {padding:17px 0 27px 0; width:142px; margin:0 auto; color:#666; font-size:13px; line-height:18px; text-align:center}
.queue-date-hint::before {content:""; display:block; width:33px; height:33px; background:url(../images/queue-date.svg) no-repeat; background-size:100%; margin:0 auto 14px auto}

@media screen and (max-width:799px) {
    .queue-date {position:relative; right:auto; top:auto; bottom:auto; width:auto; padding:0}
    .queue-date-inner {padding:14px 20px}
    .queue-date-inner::after {content:""; display:block; clear:both}
    .queue-date-select {padding:0; width:118px; float:left}
    .queue-date-current {float:left; clear:left; width:118px}
    .queue-date-calendar {right:auto; left:0}
    .queue-date-hint {padding:0 0 0 53px; margin:2px 0 0 161px; width:245px; text-align:left; position:relative}
    .queue-date-hint::before {position:absolute; left:0; top:50%; margin:0; transform:translateY(-50%)}
}

.desktop {padding:50px 0 0 0}
.desktop::after {content:""; display:block; clear:both}

@media screen and (max-width:799px) {
    .desktop {padding:29px 0 0 0}
}

.desktop-side {float:left; width:288px}

@media screen and (max-width:799px) {
    .desktop-side {display:none}
}

.desktop-menu {border:1px solid #ececec; border-radius:4px; box-shadow:0 1px 0 0 #e3e3e3; padding:0 30px 3px 30px}
.desktop-menu ul {margin:0; padding:17px 0 25px 0; list-style:none; border-top:1px solid #e3e3e3}
.desktop-menu ul:first-child {border-top:none}
.desktop-menu ul li {margin:6px 0 0 0; padding:0; position:relative}
.desktop-menu ul li::before {display:none}
.desktop-menu ul li.active {font-weight:bold}
.desktop-menu ul li.active::after {content:""; display:block; position:absolute; left:-31px; top:0; width:4px; bottom:0; background:#ffda76; border-radius:0 4px 4px 0}
.desktop-menu ul li a {color:#111; text-decoration:none}
.desktop-menu ul li a:hover {text-decoration:underline}
.desktop-menu ul li a.desktop-menu-logout {color:#fb6060}
.desktop-menu-count {display:block; position:absolute; right:0; top:-2px; height:24px; padding:0 11px; font-size:13px; line-height:24px; color:#fff; background:#489eca; border-radius:12px}
.desktop-menu-icon {position:absolute; right:0; top:-1px; line-height:0; width:21px}
.desktop-menu-icon-text {display:none; position:absolute; z-index:999; left:50%; bottom:30px; width:237px; margin-left:-118px; padding:8px 10px 11px 10px; background:#fff; font-size:14px; line-height:18px; letter-spacing:0; text-align:left; box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.15); color:#111; font-weight:normal}
.desktop-menu-icon:hover .desktop-menu-icon-text {display:block}
.desktop-menu-icon-text::after {content:""; display:block; width:0; height:0; position:absolute; left:50%; bottom:-6px; margin-left:-6px; border-top:6px solid #fff; border-left:6px solid transparent; border-right:6px solid transparent}

.desktop-side .auth-contacts {width:auto; margin:30px 0 0 0}

.desktop-container {margin:0 0 0 318px}
.desktop-content {float:left; width:100%}
.desktop-content h1:first-child {margin-top:0}
.desktop-content h1.only-mobile {display:none}

@media screen and (max-width:799px) {
    .desktop-container {margin:0}
    .desktop-content h1.only-mobile {display:block}
}

.desktop-message {margin:0 0 20px 0; background:#ffda76; padding:0 40px 9px 16px; border-radius:4px; position:relative; box-shadow:0 1px 0 0 #e3c56e}
.desktop-message::after {content:""; display:block; clear:both}
.desktop-message-icon {float:left; width:30px; line-height:0; padding:13px 0 0 0}
.desktop-message-text {margin:0 0 0 45px; font-size:13px; line-height:18px; padding:10px 0 0 0}
.desktop-message-delete {display:block; width:12px; position:absolute; right:19px; top:21px; line-height:0}
.desktop-message-delete svg {display:block}
.desktop-message-delete path {fill:#dabd6a; transition:all 0.2s}
.desktop-message-delete:hover path {fill:#111}

@media screen and (max-width:799px) {
    .desktop-message-delete {top:50%; transform:translateY(-50%)}
}

.desktop-title {font-weight:bold; font-size:20px; line-height:24px; margin:21px 0 0 0; position:relative}
.desktop-title:first-child {margin:-5px 0 0 0}
.desktop-title a {position:absolute; right:0; top:0; font-size:15px; font-weight:normal}
.desktop-btns {margin:15px 0 0 0}
.desktop-btns::after {content:""; display:block; clear:both}
.desktop-btns a {float:left; margin:0 0 0 20px; border:1px solid #489eca; border-radius:4px; height:40px; padding:0 12px; color:#111; text-decoration:none; line-height:36px}
.desktop-btns a:first-child {margin:0}
.desktop-btns a:hover {background:#489eca; color:#fff}
.desktop-btns a.desktop-btn-add svg {display:inline-block; vertical-align:middle; width:14px; height:14px; margin:-2px 8px 0 0}
.desktop-btns a.desktop-btn-add svg path {fill:#489eca}
.desktop-btns a.desktop-btn-add:hover svg path {fill:#fff}

.desktop-orders {margin:16px 0 0 0}

.desktop-orders-header {font-size:13px; color:#999; padding:2px 30px 11px 30px}
.desktop-orders-header::after {content:""; display:block; clear:both}
.desktop-orders-header-date {float:left; width:143px}
.desktop-orders-header-payment {float:right; width:118px}
.desktop-orders-header-cost {float:right; margin:0 27px 0 0; text-align:right; width:100px}
.desktop-orders-header-period {float:left}
.desktop-orders-header-info {margin:0 276px}
.desktop-orders-header-name {float:left; width:calc(50% - 143px)}
.desktop-orders-header-info-2 {float:left; width:calc(50% - 118px)}

@media screen and (max-width:799px) {
    .desktop-orders-header {display:none}
}

.desktop-order {margin:3px 0 0 0; background:#f6f6f6; border-radius:4px; box-shadow:0 1px 0 0 #e3e3e3; padding:17px 30px 16px 30px; position:relative; transition:all 0.2s; cursor:pointer}
.desktop-order-template {padding-top:0; padding-bottom:0}
.desktop-order:hover {background:#edf6fc}
.desktop-order::before {content:""; display:block; position:absolute; left:0; top:18px; bottom:21px; width:4px; border-radius:0 4px 4px 0}
.desktop-order-status-1::before {background:#489eca}
.desktop-order-status-2::before {background:#ffda76}
.desktop-order-status-3::before {background:#fb6060}
.desktop-order-status-4::before {background:#d47af9}
.desktop-order-status-5::before {background:#a4d78b}
.desktop-order-status-6::before {background:#e6e6e6}
.desktop-order::after {content:""; display:block; clear:both}
.desktop-order-date {float:left; width:143px}
.desktop-order-template .desktop-order-date {display:table}
.desktop-order-template-cell {display:table-cell; vertical-align:middle; height:70px}
.desktop-order-date span {display:block; font-size:13px; line-height:18px; color:#666}
.desktop-order-payment {float:right; width:118px}
.desktop-order-template .desktop-order-payment {display:table}
.desktop-order-payment span {display:block; font-size:13px; line-height:18px}
.desktop-order-payment a {color:#4070d8}
.desktop-order-payment a:hover {color:#2d7fa9}
.desktop-order-cost {float:right; color:#666; margin:0 27px 0 0; text-align:right; width:100px}
.desktop-order-cost span {font-weight:bold; color:#111}
.desktop-order-period {float:left}
.desktop-order-period span {display:block; font-size:13px; line-height:18px; color:#666}
.desktop-order-info {margin:0 276px; font-weight:bold}
.desktop-order-info span {display:block; font-size:13px; line-height:18px; color:#666; font-weight:normal}
.desktop-order-name {float:left; width:calc(50% - 143px); font-weight:bold; line-height:18px}
.desktop-order-template .desktop-order-name {display:table}
.desktop-order-info-2 {float:left; width:calc(50% - 118px); font-weight:bold}
.desktop-order-info-2 span {display:block; font-size:13px; line-height:18px; color:#666; font-weight:normal}
.desktop-order-template .desktop-order-info-2 {display:table}

@media screen and (max-width:799px) {
    .desktop-order::before {top:23px}
    .desktop-order-template {padding-top:17px; padding-bottom:16px}
    .desktop-order-payment {float:none; position:absolute; right:30px; top:20px; width:auto; text-align:right; line-height:16px}
    .desktop-order-payment span {position:absolute; right:0; top:46px}
    .desktop-order-payment a {display:block; width:auto; padding:0 20px; height:30px; background:#489eca; font-size:15px; text-align:center; line-height:30px; color:#fff; border-radius:3px}
    .desktop-order-cost {float:none; position:absolute; right:30px; top:36px; width:auto; text-align:right; line-height:16px; margin:0}
    .desktop-order-info {margin:0; padding:28px 0}
    .desktop-order-name {float:none; width:60%; margin:0}
    .desktop-order-template .desktop-order-name {display:block}
    .desktop-order-info-2 {float:none; width:auto; padding:18px 0 28px 0}
    .desktop-order-template .desktop-order-info-2 {display:block}
    .desktop-order-template-cell {display:block; height:auto}
    .desktop-order-date {position:absolute; left:30px; bottom:15px; float:none; width:auto; font-size:13px; line-height:18px}
    .desktop-order-date span {display:inline-block}
    .desktop-order-period {position:absolute; left:30px; top:17px; float:none}
    .desktop-order-period span {display:inline-block; font-size:15px; line-height:20px}
    .desktop-order-period span::before {content:"("}
    .desktop-order-period span::after {content:")"}
}

.orders-header {margin:46px 0 0 0}
.orders-header::after {content:""; display:block; clear:both}

@media screen and (max-width:799px) {
    .orders-header {margin:0}
}

.orders-search {float:left; width:65.58%}
.orders-search form {margin:0; padding:0}
.orders-search .form-submit {float:right; margin:0; width:67px}
.orders-search .form-submit .btn-reset {border-color:#489eca}
.orders-search .form-submit .btn-reset:hover {background:#489eca; color:#fff}
.orders-search .form-input {margin:0 75px 0 0}
.orders-search .form-input input {border:1px solid #ececec; border-radius:4px; height:40px; padding:0 16px; line-height:38px}

@media screen and (max-width:799px) {
    .orders-search {width:calc(100% - 80px)}
    .orders-search form {position:relative}
    .orders-search .form-submit {float:none; width:38px; position:absolute; right:0; top:0; z-index:1}
    .orders-search .form-submit .btn-reset {border:none; width:38px; height:40px; background:url(../images/orders-search-mobile.svg) no-repeat center; font-size:0; line-height:0; letter-spacing:-1px; color:rgba(0, 0, 0, 0)}
    .orders-search .form-submit .btn-reset:hover {background:url(../images/orders-search-mobile.svg) no-repeat center; color:rgba(0, 0, 0, 0)}
    .orders-search .form-submit .btn-reset:active {background:url(../images/orders-search-mobile.svg) no-repeat center; color:rgba(0, 0, 0, 0)}
    .orders-search .form-input {margin:0}
}

.orders-header .desktop-btns {float:right; margin:0}

@media screen and (max-width:799px) {
    .orders-header .desktop-btn-add {width:40px; font-size:0; letter-spacing:-1px; color:rgba(0, 0, 0, 0); padding:0 0 0 38px; overflow:hidden; position:relative}
    .orders-header .desktop-btns a.desktop-btn-add svg {position:absolute; left:50%; top:50%; margin:0; display:block; transform:translate(-50%, -50%)}
}

.orders-sort {margin:23px 0 0 0}
.orders-sort::after {content:""; display:block; clear:both}
.orders-sort-text {float:left}
.orders-sort-select {float:left; margin:0 0 0 4px; position:relative}
.orders-sort-select-value::after {content:""; display:inline-block; vertical-align:middle; width:9px; height:7px; background:url(../images/arrow.svg) no-repeat; background-size:100%; margin:-2px 0 0 6px}

.order-steps {position:relative; background:#f6f6f6; font-size:0; line-height:0; letter-spacing:-1px}
.order-steps::before {content:""; display:block; position:absolute; left:100%; top:0; bottom:0; width:9999px; background:#f6f6f6}
.order-steps::after {content:""; display:block; position:absolute; right:100%; top:0; bottom:0; width:9999px; background:#f6f6f6}
.order-step {display:inline-block; vertical-align:top; width:329px; margin:0 0 0 -24px; padding:0 0 0 74px; position:relative; height:70px}
.order-step:first-child {margin:0; padding:0 0 0 30px; width:281px}
.order-step:first-child.success {margin-left:-1000px; padding-left:1030px; width:1281px}
.order-step:nth-child(1) {z-index:3}
.order-step:nth-child(2) {z-index:2}
.order-step:nth-child(3) {z-index:1}
.order-step.active {background:#ffda76}
.order-step.success {background:#eafae1}
.order-step.active::before {content:""; display:block; width:0; height:0; position:absolute; right:-21px; top:0; border-left:21px solid #ffda76; border-top:35px solid transparent; border-bottom:35px solid transparent}
.order-step.success::before {content:""; display:block; width:0; height:0; position:absolute; right:-21px; top:0; border-left:21px solid #eafae1; border-top:35px solid transparent; border-bottom:35px solid transparent}
.order-step::after {content:""; display:block; width:24px; position:absolute; right:-24px; top:0; bottom:0; background:url(../images/order-step.svg) no-repeat; background-size:100%}
.order-step-number {float:left; width:30px; height:30px; margin:19px 0 0 0; background:#fff; border-radius:50%; color:#999; font-size:20px; line-height:30px; font-weight:bold; text-align:center; letter-spacing:0}
.order-step.active .order-step-number {background:#fff; color:#111}
.order-step.success .order-step-number {background:#fff url(../images/order-step-success.svg) no-repeat center; color:transparent}
.order-step-title {float:left; margin:19px 0 0 10px; color:#999; font-size:20px; line-height:30px; font-weight:bold; text-align:center; letter-spacing:0}
.order-step.active .order-step-title {color:#111}
.order-step.success .order-step-title {color:#719e5a}

@media screen and (max-width:799px) {
    .order-step {width:139px; padding:0 0 0 78px}
    .order-step:first-child {width:96px; padding:0 0 0 37px}
    .order-step-title {display:none}
    .order-step:first-child.success {margin-left:-15px; padding-left:52px; width:121px}
}

.order-form form {position:relative}
.order-form-tab {position:absolute; left:-9999px; top:-9999px; width:100%; opacity:0; transition:opacity 0.5s}
.order-form-tab.active {position:relative; left:auto; top:auto; opacity:1}

.order-subtitle {font-weight:bold; margin:23px 0 0 0}
.order-subtitle span.error {display:none; color:#ff7777}
.order-subtitle span.error.visible {display:inline}
.order-subtitle .desktop-menu-icon {position:relative; display:inline-block; vertical-align:middle}
.order-subtitle .desktop-menu-icon-text {width:280px; margin-left:-140px}

.order-types {margin:15px 0 0 0}
.order-types::after {content:""; display:block; clear:both}
.order-types label {float:left; margin:0 0 0 20px; cursor:pointer}
.order-types label:first-child {margin:0}
.order-types label input {display:none}
.order-type {display:block; border:1px solid #489eca; padding:0 15px; border-radius:4px; height:40px; line-height:38px; transition:all 0.2s}
.order-types label:hover .order-type {color:#489eca}
.order-types label input:checked+.order-type {background:#ffda76; border-color:#ffda76; color:#111}
.order-type .desktop-menu-icon {position:relative; display:inline-block; vertical-align:middle; margin:-2px 0 0 4px}

@media screen and (max-width:799px) {
    .order-types label {display:block; float:none; margin:10px 0 0 0; width:253px}
    .order-types label:first-child {margin:0}
    .order-type {padding:0; text-align:center}
}

.order-form-submit {background:#edf6fc; margin:40px 0; padding:10px; position:relative}
.order-form-submit::before {content:""; display:block; position:absolute; left:-9999px; top:0; right:-9999px; bottom:0; background:#edf6fc}
.order-form-submit::after {content:""; display:block; clear:both}
.order-form-submit .btn {float:right; width:144px; position:relative}
.order-form-submit .btn::after {content:""; display:inline-block; vertical-align:middle; width:15px; height:12px; background:url(../images/order-step-next.svg) no-repeat; background-size:100%; margin:-2px 0 0 10px}
.order-form-submit .btn-confirm {width:197px}
.order-form-back {float:right; line-height:40px; margin:0 40px 0 0; position:relative}

@media screen and (max-width:799px) {
    .order-form-submit {padding:15px 0}
    .order-form-submit .btn {height:50px; line-height:50px}
    .order-form-back {line-height:50px; margin:0 30px 0 0}
}

.order-date {margin:15px 0 0 0}
.order-date::after {content:""; display:block; clear:both}
.order-date-select {float:left; position:relative}
.order-date-link {display:block; width:136px; padding:0 0 0 34px; border:1px solid #489eca; color:#111; border-radius:4px; line-height:38px; height:40px; position:relative; background:url(../images/order-date-calendar.svg) no-repeat 8px 9px}
.order-date-link:hover {border-color:#489eca; color:#489eca}
.order-date-calendar {display:none; position:absolute; left:0; top:100%; z-index:99}
.order-date-select.open .order-date-calendar {display:block}
.order-date-value {display:none; float:left; margin:0 0 0 20px; padding:0 15px 0 35px; color:#111; line-height:40px; height:40px; position:relative; background:url(../images/order-date-calendar.svg) no-repeat 8px 10px}

.order-period {margin:13px -15px 0 -15px; font-size:0; line-height:0; letter-spacing:-1px; min-height:24px}
.order-period::after {content:""; display:block; clear:both}
.order-period label {display:inline-block; vertical-align:top; font-size:15px; line-height:20px; letter-spacing:0; margin:0; cursor:pointer; padding:0; width:calc(16.66% - 30px); margin:0 15px}
.order-period label input {display:none}
.order-period label span {display:block; border:1px solid #ccc; margin:2px 0 0 0; border-radius:4px; height:40px; text-decoration:none; color:#111; cursor:pointer; text-align:center; line-height:38px}
.order-period label:hover span {color:#111; background:#dbedf9; border-color:#dbedf9}
.order-period label input:checked+span {color:#111; background:#ffda76; border-color:#ffda76}
.order-period label input:disabled+span {border:1px solid #ccc; color:#cdcdcd; cursor:default; background:none}
.order-period.loading {position:relative}
.order-period.loading::before {content:""; z-index:2; display:block; position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(255, 255, 255, 0.9) url(../images/loading.gif) no-repeat center}

@media screen and (max-width:799px) {
    .order-period label {width:calc(33.33% - 30px)}
}

.order-auto {margin:15px 0 0 0}
.order-auto::after {content:""; display:block; clear:both}
.order-auto label {float:left; margin:0 0 0 10px; cursor:pointer; width:193px}
.order-auto label:first-child {margin:0}
.order-auto label input {display:none}
.order-auto-content {border:1px solid transparent; padding:9px; border-radius:4px; text-align:center; transition:all 0.2s}
.order-auto label input:checked+.order-auto-content {border-color:#ececec}
.order-auto-title {display:block; border:1px solid #489eca; border-radius:4px; height:40px; line-height:38px; transition:all 0.2s}
.order-auto label:hover .order-auto-title {color:#489eca}
.order-auto label input:checked+.order-auto-content .order-auto-title {background:#ffda76; border-color:#ffda76; color:#111}
.order-auto-price {display:block; color:#999; padding:9px 0 1px 0; transition:all 0.2s}
.order-auto label input:checked+.order-auto-content .order-auto-price {color:#111; font-weight:bold}

@media screen and (max-width:799px) {
    .order-auto label {float:none; display:block; margin:10px 0 0 0; width:auto}
    .order-auto label:first-child {margin:0}
    .order-auto-content::after {content:""; display:block; clear:both}
    .order-auto-title {float:left; width:173px}
    .order-auto-price {float:right; padding:0; line-height:40px}
}

.order-auto-country {max-width:396px; margin:-5px 0 -13px 0}
.order-auto-info::after {content:""; display:block; clear:both}
.order-auto-info-number {float:left; margin:0 30px 0 0}
.order-auto-info-number-text {float:left; width:182px; margin:-5px 0 -13px 0}
.order-auto-info-number-region {float:left; width:76px; margin:-5px 0 -13px 30px}
.order-auto-info-brand {float:left}
.order-auto-info-brand-name {float:left; width:288px; margin:-5px 0 -13px 0}
.order-auto-info-brand-model {float:left; width:288px; margin:-5px 0 -13px 30px}

@media screen and (max-width:799px) {
    .order-auto-country {max-width:none; margin:-5px 0 0 0}
    .order-auto-info-number {float:none; margin:0}
    .order-auto-info-number::after {content:""; display:block; clear:both}
    .order-auto-info-number-text {margin:-5px 0 0 0}
    .order-auto-info-number-region {margin:-5px 0 0 30px}
    .order-auto-info-brand {float:none}
    .order-auto-info-brand-name {float:none; width:auto; margin:-5px 0 0 0}
    .order-auto-info-brand-model {float:none; width:auto; margin:0 0 -13px 0}
}

.order-personal {margin:-5px 0 -13px 0}
.order-personal::after {content:""; display:block; clear:both}
.order-personal-item {float:left; width:288px; margin:0 30px 0 0}

@media screen and (max-width:799px) {
    .order-personal {margin:-5px 0 0 0}
    .order-personal-item {float:none; width:auto; margin:0}
}

.order-form .form-checkbox {font-size:13px}
.order-form .form-checkbox span {padding:0 0 0 20px}
.order-form .form-checkbox span::before {top:3px; width:13px; height:13px; border:2px solid #d8d8d8}
.order-form .form-checkbox label input:checked+span::after,
.order-form .form-checkbox label input:checked+label+span::after {left:3px; top:6px; width:7px; height:7px}
.order-form .form-checkbox label input.error+span::before,
.order-form .form-checkbox label input.error+label+span::before {border-color:#ffc2c2}

.table-confirm {margin:35px 0 40px 0}
.table-confirm table td {width:50%; padding-top:14px; padding-bottom:15px}

.profile-main {margin:-10px 0 0 0}
.profile-main::after {content:""; display:block; clear:both}
.profile-main-name {float:left; font-weight:bold; font-size:20px; line-height:24px; padding:8px 0 0 0}
.profile-main-link {float:right}
.profile-main-link .btn-reset {border-color:#489eca; width:auto; padding:0 12px}
.profile-main-link .btn-reset:hover {background:#489eca; color:#fff}

.profile-contacts {border-top:1px solid #e3e3e3; margin:31px 0 0 0}
.profile-contacts-title {font-weight:bold; padding:23px 0 0 0}
.profile-contacts-container {margin:9px 0 0 0}
.profile-contacts-container::after {content:""; display:block; clear:both}
.profile-contacts-content {float:left; max-width:calc(100% - 120px)}
.profile-contacts-content p {margin:8px 0 0 0; padding:0}
.profile-contacts-content span {color:#999; margin:0 5px 0 0}
.profile-contacts-link {float:right; padding:11px 0 0 0}
.profile-contacts-link .btn-reset {border-color:#489eca; width:auto; padding:0 12px}
.profile-contacts-link .btn-reset:hover {background:#489eca; color:#fff}

.profile-subscribe {border-top:1px solid #e3e3e3; margin:25px 0 0 0}
.profile-subscribe::after {content:""; display:block; clear:both}
.profile-subscribe form {margin:0; padding:0}
.profile-subscribe-content {float:left; max-width:calc(100% - 120px)}
.profile-subscribe-title {font-weight:bold; padding:23px 0 0 0}
.profile-subscribe-btn {float:right; padding:30px 0 0 0}
.profile-subscribe-btn .btn-reset {color:#999; width:auto; padding:0 12px}

.btn-help {display:inline-block; width:auto; padding:0 14px; border-color:#489eca; color:#111}
.btn-help:hover {background:#489eca; color:#fff}

.form-input-feedback-textarea {margin-top:30px}

.feeback {margin:30px 0 0 0; border-bottom:1px solid #e3e3e3}
.feedback-item {border-top:1px solid #e3e3e3; display:block}
.feedback-item-message {border-top:1px solid #e3e3e3}
.feedback-item:hover {border-color:#edf6fc}
.feedback-item:hover+.feedback-item {border-color:#edf6fc}
.feedback-item-container {margin:0 -10px; padding:23px 10px 21px 10px; transition:all 0.2s}
.feedback-item:hover .feedback-item-container {background:#edf6fc}
.feedback-item-header {display:table; width:100%}
.feedback-item-title {display:table-cell; vertical-align:top; width:100%; font-weight:bold; color:#489eca}
.feedback-item-title span {color:#71a159; margin:0 0 0 16px}
.feedback-item-title-support {color:#111}
.feedback-item-date {display:table-cell; vertical-align:top; white-space:nowrap; padding:0 0 0 30px; color:#666}
.feedback-item-text {color:#111; padding:8px 0 0 0}
.feedback-item-file {padding:0 0 0 30px; background:url(../images/file-input.svg) no-repeat left center; margin:10px 0 0 0}
.feedback-item-avatar {float:left; line-height:0; width:76px; padding:7px 0 0 0}
.feedback-item-avatar img {display:block; width:100%}
.feedback-item-avatar+.feedback-item-content {margin:0 0 0 106px}

@media screen and (max-width:799px) {
    .feedback-item-header {display:block; position:relative}
    .feedback-item-title {display:block}
    .feedback-item-title span {margin:0; position:absolute; right:0; bottom:0}
    .feedback-item-date {display:block; padding:8px 0 0 0}
    .feedback-item-avatar {width:38px; padding:5px 0 0 0}
    .feedback-item-avatar+.feedback-item-content {margin:0 0 0 58px}
}

.feedback-ticket-header {display:table; width:100%; margin:23px 0 25px 0}
.feedback-ticket-header-title {display:table-cell; vertical-align:top; width:100%; font-weight:bold}
.feedback-ticket-header-back {display:table-cell; vertical-align:top; white-space:nowrap; padding:0 0 0 30px}
.ticket-form-ctrl {margin:20px 0 0 0}
.ticket-form-ctrl::after {content:""; display:block; clear:both}
.ticket-form-ctrl .form-file {float:left; margin:-7px 0 0 0}
.ticket-form-ctrl .form-submit {float:right; width:106px}

footer {position:relative; height:116px; margin:-116px 0 0 0; background:#edf6fc; font-size:13px; line-height:24px}
footer p {margin:0; padding:0}

@media screen and (max-width:799px) {
    footer {height:176px; margin:-176px 0 0 0}
}

.footer-left {float:left; color:#666; padding:21px 0 0 0}
.copyrights {color:#111}

@media screen and (max-width:799px) {
    .footer-left {float:none}
}

.footer-right {float:right; text-align:right; padding:45px 0 0 0}

@media screen and (max-width:799px) {
    .footer-right {float:none; text-align:left; padding:13px 0 0 0}
}

.window-open body {overflow:hidden}
.window-open .wrapper {-webkit-filter:blur(8px); -moz-filter:blur(8px); -o-filter:blur(8px); -ms-filter:blur(8px); filter:blur(8px)}
.window-open footer {-webkit-filter:blur(8px); -moz-filter:blur(8px); -o-filter:blur(8px); -ms-filter:blur(8px); filter:blur(8px)}

.window {position:fixed; left:0; top:0; right:0; bottom:0; z-index:99997; overflow:auto; background:rgba(0, 0, 0, 0.5)}
.window-loading {position:absolute; left:50%; top:50%; width:24px; height:24px; margin:-12px 0 0 -12px; background:url(../images/loading.gif)}
.window-container {position:absolute; z-index:99999; left:50%; top:50%}
.window-container-load {position:fixed; left:-9999px; top:-9999px}
.window-content {position:relative; background:#fff; box-shadow:0 0 30px 0 rgba(0, 0, 0, 0.3); border-radius:6px}
.window-close {display:block; position:absolute; width:12px; height:12px; right:40px; top:30px; line-height:0}
.window-close svg {display:block; width:12px}
.window-close path {fill:#6ea055; transition:all 0.2s}
.window-close:hover path {fill:#111}

@media screen and (max-width:799px) {
    .window-close {right:30px}
}

.window-feedback {width:476px; padding:0 41px}

@media screen and (max-width:799px) {
    .window-feedback {width:450px; padding:0 30px}
}

.window-auth {width:476px; padding:0 41px 42px 41px}
.window-auth .auth {width:auto; margin:26px 0 0 0}
.window-auth .auth-contacts {width:auto; text-align:center}

@media screen and (max-width:799px) {
    .window-auth {width:450px; padding:0 30px 265px 30px}
    .window-auth .auth {margin:11px 0 0 0; padding:0; border:none; box-shadow:none}
    .window-auth .auth-contacts {display:none}
}

.window-auth-header {font-size:24px; line-height:73px; padding:0 41px; margin:0 -41px; background:#ecfbe5; border-radius:6px 6px 0 0}
.window-auth-header ul {margin:0; padding:0; list-style:none}
.window-auth-header ul::after {content:""; display:block; clear:both}
.window-auth-header ul li {float:left; margin:0 0 0 30px; padding:0; font-weight:bold}
.window-auth-header ul li:first-child {margin:0}
.window-auth-header ul li::before {display:none}
.window-auth-header ul li a {font-weight:normal}

@media screen and (max-width:799px) {
    .window-auth-header {padding:0 30px; margin:0 -30px}

    .window-auth .form-submit {position:absolute; right:0; bottom:0; left:0; padding:20px 30px; border-radius:0 0 6px 6px; text-align:right; background:#edf6fc}
    .window-auth .form-submit .btn {height:50px; line-height:50px; padding:0 30px}
}

.window-feedback .form-ctrl {margin:0 -41px; background:#edf6fc; padding:20px 41px; border-radius:0 0 6px 6px}
.window-feedback .form-ctrl .form-submit {float:right; width:auto}

@media screen and (max-width:799px) {
    .window-feedback .form-ctrl {margin:0 -30px; background:#edf6fc; padding:20px 30px; border-radius:0 0 6px 6px}
}